@import "tailwindcss";

:root{
    user-select: none;
    --text-colour: rgb(161, 161, 170);
    background-color: rgb(9, 9, 11);
}

html,
body {
    min-height: 100dvh;
    background-color: rgb(9, 9, 11);
}

p, 
footer a {
    color: var(--text-colour);
}

button,option,select{
    cursor: pointer;
}

nav, 
footer{
    background-color: rgb(9, 9, 11);
}

main{
    flex: 1;
}